<html>
<head>
    <title>Node Express EJS sample</title>

    <script type="text/javascript" src="lib/jquery-3.6.1.js"></script>
    <script type="text/javascript" src="js/top.js"></script>
</head>
<body>
    <h1>Node Express EJS sample</h1>
    <div class="test"></div>
</body>
</html>
